#wrapper {
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#chart {
  width: 800px;
  padding-bottom: 50px;
  border-bottom: 1px #feb979 solid;
}

.header {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
}

#y-label {
  width: fit-content;
  height: fit-content;

  position: absolute;
  font-size: 14px;
  color: #000;

  margin-left: -40px;
  margin-top: -250px;

  writing-mode: vertical-lr;
  text-orientation: sideways-right;
}

#x-label {
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #000;
  margin-top: 20px;
}

#hider {
  position: absolute;

  margin-left: 374px;
  margin-top: -427px;

  width: 45px;
  height: 15px;

  background-color: #fff;
}
