#wrapper {
  width: 100%;
}

#chart {
  margin: 0 300px 50px 300px;
  padding-bottom: 50px;
  border-bottom: 1px #feb979 solid;
}

.header {
  display: flex;
  justify-content: center;
  text-align: center;
}

#y-label {
  width: fit-content;
  height: fit-content;

  position: absolute;
  font-size: 14px;
  color: #000;

  margin-left: -40px;
  margin-top: -250px;

  writing-mode: vertical-lr;
  text-orientation: sideways-right;
}

#x-label {
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #000;
  margin-top: 20px;
}
