h2 {
  margin-bottom: 0;
}

.consideration-text {
  font-style: italic;
  font-size: 16px;
  color: #999999;
  text-align: center;
}

.consideration-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 20px 0;
}

.consideration {
  width: 800px;
  margin: 0 auto;

  margin: 20px 0;
}
