#header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #00853b;
}

#header-title {
  color: #fff;
  margin: 0 auto;
}

#header-title:hover {
  cursor: pointer;
}

#back-icon {
  height: 30px;
  width: auto;
  position: absolute;
  left: 30px;
}

#back-icon:hover {
  cursor: pointer;
}
